<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="home :: 'image'"></div>

<div class="container margin-tb" style="width: 90%;">
    <div th:fragment="edit">
        <form th:action="@{/product/{id}(id=${isEdit}?${product.id}:'')}" method="post" th:object="${product}">
            <fieldset>
                <legend>Product</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}?'has-error'">
                    <label for="name">Product name</label>
                    <input type="text" class="form-control" th:field="*{name}"/>
                    <span class="help-inline has-danger"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"/>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('description')}?'has-error'">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <span class="help-inline has-danger"
                          th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>