<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div margin-tb th:replace="home :: 'image'"></div>

<div class="container margin-tb panel-group panel panel-primary" style="width: 90%;">
    <h1 style="text-align: center;" class="margin-tb">Auction Details</h1>
    <fieldset style="text-align: center;">
        <div style="width: 100%">
            <label>TargetPrice</label>
            <label th:text="${auction.targetPrice}">TargetPrice</label>
        </div>
        <div style="width: 100%">
            <label>Currency</label>
            <label th:text="${auction.currency}">Currency</label>
        </div>
        <div style="width: 100%">
            <label>ExpirationDate</label>
            <label th:text="${auction.expirationDate}">ExpirationDate</label>
        </div>
        <div style="width: 100%">
            <label>Status</label>
            <label th:text="${auction.status}">Status</label>
        </div>
        <div style="width: 100%">
            <label>Product</label>
            <label th:text="${auction.product.name}">Product</label>
        </div>
        <div style="width: 100%">
            <label>Product details</label>
            <label th:text="${auction.product.description}">Product</label>
        </div>
        
        <div style="text-align: center" class="margin-tb">
            <a role="button" class="btn btn-primary" th:href="@{/home}">
                Back to the List
            </a>

            <a sec:authorize="hasAuthority('ADMIN')" role="button" class="btn btn-success"
               th:href="@{/auction/{id}(id=${auction.id}, edit='true')}">
                Edit
            </a>
            
            <form sec:authorize="hasAuthority('ADMIN')" style="display: inline"
                  th:action="@{/auction/{id}/delete(id=${auction.id})}" method="post">
                <button class="btn btn-danger" type="submit">
                    Delete
                </button>
            </form>
        </div>
    </fieldset>

    <div margin-tb th:replace="offer/list :: 'list-offer'"></div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>