<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div margin-tb th:replace="home :: 'image'"></div>

<div class="container margin-tb" style="width: 90%;">
    <div class="margin-tb" style="text-align: right;margin-bottom: 1em;">
        <form th:action="@{/home}" method="get">
            <button class="btn btn-primary" type="Submit">Go To Home Page</button>
        </form>
    </div>

    <h1 style="text-align: center;" class="margin-tb">Auction Details</h1>

    <table class="table table-bordered">
        <tr>
            <td>Product Name</td>
            <td th:text="${auction.product.name}"></td>
        </tr>

        <tr sec:authorize="hasAuthority('ADMIN')">
            <td>Target Price Per Product</td>
            <td th:text="${auction.targetPricePerProduct}"></td>
        </tr>

        <tr>
            <td>Number Of Products</td>
            <td th:text="${auction.numberOfProducts}"></td>
        </tr>

        <tr>
            <td>Expiration Date</td>
            <td th:text="${auction.expirationDate}">ExpirationDate</td>
        </tr>

        <tr>
            <td>Currency</td>
            <td th:text="${auction.currency}">Currency</td>
        </tr>

        <tr>
            <td>Status</td>
            <td th:text="${auction.status}">Status</td>
        </tr>

        <tr>
            <td>Product details</td>
            <td th:text="${auction.product.description}">Product</td>
        </tr>

        <tr sec:authorize="hasAuthority('ADMIN')">
            <td>
                <a role="button" class="btn btn-success"
                   th:href="@{/auction/{id}(id=${auction.id}, edit='true')}">
                    Edit
                </a>
            </td>
            <td>
                <form style="display: inline"
                      th:action="@{/auction/{id}/delete(id=${auction.id})}" method="post">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>

    <div margin-tb th:replace="offer/list :: 'list-offer'"></div>
</div>
</body>
</html>