<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div margin-tb th:replace="home :: 'image'"></div>

<div class="container margin-tb" style="width: 90%;">
    <div class="margin-tb" style="text-align: right;margin-bottom: 1em;">
        <form th:action="@{/home}" method="get">
            <button class="btn btn-primary" type="Submit">Go To Home Page</button>
        </form>
    </div>

    <h2 th:if="${isEdit}">Auction Edit Form</h2>
    <h2 th:unless="${isEdit}">Auction Add Form</h2>

    <form th:action="@{/auction/{id}(id=${isEdit}?${auction.id}:'')}" method="post" th:object="${auction}">
        <fieldset>
            <legend>Auction</legend>

            <!-- Product Name -->
            <div class="form-group" th:classappend="${#fields.hasErrors('product.name')}?'has-error'">
                <label>
                    Product Name
                </label>
                <select class="form-control" th:field="*{product.name}">
                    <option th:each="product : ${products}"
                            th:value="${product.name}"
                            th:text="${product.name}"/>
                </select>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('product.name')}"
                      th:errors="*{product.name}"/>
            </div>

            <!-- Target Price Per Product -->
            <div class="form-group" th:classappend="${#fields.hasErrors('targetPricePerProduct')}?'has-error'">
                <label>
                    Target Price Per Product
                </label>
                <input type="text" class="form-control" th:field="*{targetPricePerProduct}"/>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('targetPricePerProduct')}"
                      th:errors="*{targetPricePerProduct}"/>
            </div>

            <!-- Number Of Products -->
            <div class="form-group" th:classappend="${#fields.hasErrors('numberOfProducts')}?'has-error'">
                <label>
                    Number Of Products
                </label>
                <input type="text" class="form-control" th:field="*{numberOfProducts}"/>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('numberOfProducts')}"
                      th:errors="*{numberOfProducts}"/>
            </div>

            <!-- Expiration Date -->
            <div class="form-group" th:classappend="${#fields.hasErrors('expirationDate')}?'has-error'">
                <label>
                    Expiration Date
                </label>
                <div class="row">
                    <div class='col-sm-6'>
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' class="form-control" th:field="*{expirationDate}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('expirationDate')}"
                      th:errors="*{expirationDate}"/>
            </div>

            <!-- Currency -->
            <div class="form-group" th:classappend="${#fields.hasErrors('currency')}?'has-error'">
                <label>
                    Currency
                </label>
                <select class="form-control" th:field="*{currency}">
                    <option th:each="currency : ${currencies}"
                            th:value="${currency}"
                            th:text="${currency}"/>
                </select>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('currency')}"
                      th:errors="*{currency}"/>
            </div>

            <!-- Status -->
            <div class="form-group" th:classappend="${#fields.hasErrors('status')}?'has-error'">
                <label>
                    Status
                </label>
                <select class="form-control" th:field="*{status}">
                    <option th:each="status : ${statuses}"
                            th:value="${status}"
                            th:text="${status}"/>
                </select>
                <span class="help-inline has-danger"
                      th:if="${#fields.hasErrors('status')}"
                      th:errors="*{status}"/>
            </div>


            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="reset">Reset</button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
</body>
</html>