<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container margin-tb" th:fragment="list-auction">
    <h1 style="text-align: center;" class="margin-tb">Available Auctions</h1>
    <table class="table">
        <tr>
            <th>Nr.</th>
            <th>Product Name</th>
            <th>Target Price Per Product</th>
            <th>Number of Products</th>
            <th>Expiration Date</th>
            <th>Currency</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr th:each="auction: ${auctions}">
            <td th:text="${auctionStat.index+1}+'.'">index</td>
            <td th:text="${auction.product.name}">productName</td>
            <td th:text="${auction.targetPricePerProduct}">targetPricePerProduct</td>
            <td th:text="${auction.numberOfProducts}">numberOfProducts</td>
            <td th:text="${auction.expirationDate}">expirationDate</td>
            <td th:text="${auction.currency}">currency</td>
            <td th:text="${auction.status}">status</td>
            <td>
                <a role="button" class="btn btn-primary" type="button" th:href="@{/offer(auctionid=${auction.id})}">
                    Add Offer
                </a>

                <a role="button" class="btn btn-info" type="button" th:href="@{/auction/{id}(id=${auction.id})}">
                    Details
                </a>

                <a role="button" sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-success" th:href="@{/auction/{id}(id=${auction.id}, edit='true')}">
                    Edit
                </a>

                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/auction/{id}/delete(id=${auction.id})}" method="post" style="display: inline">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>