<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Offer</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div margin-tb th:replace="home :: 'image'"></div>

<div class="container margin-tb panel-group panel panel-primary" style="width: 90%;">
    <h1 style="text-align: center;" class="margin-tb">Offer Details</h1>
    <fieldset style="text-align: center;">
        <div style="width: 100%">
            <label>TargetPrice</label>
            <label th:text="${offer.pricePerProduct}">TargetPrice</label>
        </div>
        <div style="width: 100%">
            <label>Currency</label>
            <label th:text="${offer.user.name}">User</label>
        </div>
        <div style="width: 100%">
            <label>ExpirationDate</label>
            <label th:text="${offer.user.company}">Company</label>
        </div>
        <div style="text-align: center" class="margin-tb">
            <a role="button" class="btn btn-primary" th:href="@{/offer/}">
                Back to the List
            </a>

            <a sec:authorize="hasAuthority('ADMIN')" role="button" class="btn btn-success"
               th:href="@{/offer/{id}(id=${offer.id}, edit='true')}">
                Edit
            </a>

            <form sec:authorize="hasAuthority('ADMIN')" style="display: inline"
                  th:action="@{/offer/{id}/delete(id=${offer.id})}" method="post">
                <button class="btn btn-danger" type="submit">
                    Delete
                </button>
            </form>
        </div>
    </fieldset>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>