<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div th:fragment="list-auction">
    <h1 style="text-align: center;" class="margin-tb">Available Auctions</h1>
    <table class="table">
        <tr>
            <th>Nr.</th>
            <th>Target Price</th>
            <th>Currency</th>
            <th>Expiration Date</th>
            <th>Status</th>
            <th>Product Name</th>
            <th>Actions</th>
        </tr>
        <tr th:each="auction: ${auctions}">
            <td th:text="${auctionStat.index+1}+'.'">Desc</td>
            <td th:text="${auction.targetPrice}">Desc</td>
            <td th:text="${auction.currency}">Desc</td>
            <td th:text="${auction.expirationDate}">Desc</td>
            <td th:text="${auction.status}">Desc</td>
            <td th:text="${auction.product.name}">Desc</td>
            <td>
                <form th:action="@{/offer}" method="get" style="display: inline">
                    <button class="btn btn-primary" type="submit">Add Offer</button>
                </form>
                <a class="btn btn-info" role="button" th:href="@{/auction/{id}(id=${auction.id})}">Details</a>
                <a role="button" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')" th:href="@{/auction/{id}(id=${auction.id}, edit='true')}">Edit</a>
                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/auction/{id}/delete(id=${auction.id})}" method="post" style="display: inline">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<!-- <div th:fragment="add-auction">
    <h1 th:if="${isEdit}">Auction Edit Form</h1>
    <h1 th:unless="${isEdit}">Auction Add Form</h1>

    <form th:action="@{/auction/{id}(id=${isEdit}?${auction.id}:'')}" method="post" th:object="${auction}">
        <fieldset>
            <legend>Auction</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('targetPrice')}?'has-error'">
                <label>Target Price</label>
                <input type="text" class="form-control" th:field="*{targetPrice}"/>
                <span class="help-inline has-danger" th:if="${#fields.hasErrors('targetPrice')}" th:errors="*{targetPrice}">Target Price</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('currency')}?'has-error'">
                <label>Currency</label>
                <input type="text" class="form-control" th:field="*{currency}"/>
                <span class="help-inline has-danger" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Currency</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('expirationDate')}?'has-error'">
                <label>Expiration Date</label>
                <input type="text" class="form-control" th:field="*{expirationDate}"/>
                <span class="help-inline has-danger" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">Expiration Date</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('status')}?'has-error'">
                <label>Status</label>
                <input type="text" class="form-control" th:field="*{status}"/>
                <span class="help-inline has-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('product.name')}?'has-error'">
                <label>Product Name</label>
                <input type="text" class="form-control" th:field="*{product.name}"/>
                <span class="help-inline has-danger" th:if="${#fields.hasErrors('product.name')}" th:errors="*{product.name}">Product Name</span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" type="reset">Reset</button>
            </div>
        </fieldset>
    </form>
</div> -->

<div th:fragment="details-auction">
    <h1 style="text-align: center;" class="margin-tb">Auction Details</h1>
    <fieldset style="text-align: center;">
        <div style="width: 100%">
            <label>TargetPrice</label>
            <label th:text="${auctionDetails.targetPrice}">TargetPrice</label>
        </div>
        <div style="width: 100%">
            <label>Currency</label>
            <label th:text="${auctionDetails.currency}">Currency</label>
        </div>
        <div style="width: 100%">
            <label>ExpirationDate</label>
            <label th:text="${auctionDetails.expirationDate}">ExpirationDate</label>
        </div>
        <div style="width: 100%">
            <label>Status</label>
            <label th:text="${auctionDetails.status}">Status</label>
        </div>
        <div style="width: 100%">
            <label>Product</label>
            <label th:text="${auctionDetails.product.name}">Product</label>
        </div>
        <div style="width: 100%">
            <label>Product details</label>
            <label th:text="${auctionDetails.product.description}">Product</label>
        </div>
        <th:block style="text-align: center" class="margin-tb">
            <a role="button" class="btn btn-primary" th:href="@{/home}">Back to the List</a>
            <form style="display: inline" th:action="@{/offer}" method="get">
                <button class="btn btn-info" type="submit">AddOffer</button>
            </form>
            <a sec:authorize="hasAuthority('ADMIN')" role="button" class="btn btn-success" th:href="@{/auction/{id}(id=${auctionDetails.id}, edit='true')}">Edit</a>
            <form sec:authorize="hasAuthority('ADMIN')" style="display: inline" th:action="@{/auction/{id}/delete(id=${auctionDetails.id})}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </th:block>
    </fieldset>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>