.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.column {
	display: inline-block;
	width: 24.77%;
	white-space: normal;
}

.margin-tb {
	margin-top: 20px;
	margin-bottom: 20px;
}